<app-nav-bar></app-nav-bar>
<section>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Hai bisogno di aiuto</p>
          <p class="subtitle">Ci pensiamo noi, cercheremo di aiutarti a risolvere qualsiasi problema tu possa riscontrare durante la tua attività.
            I nosri esperti saranno sempre al tuo finaco, per elaborare e studiare in maniera dinamica tutte le possibili soluzioni aiu tuoi problemi.
            Non esitare a contattarci
          </p>
         <a href="https://seqa.info/" target="_blank"><button class="btn btn-danger fw-bold rounded-5">Consulenza Gratuita</button></a>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Cosa facciamo</p>
          <ul>
            <li>Cosulenza HACCP</li>
            <li>Progettazione linee produttive</li>
            <li>Redazione e revisione documentazione</li>
            <li>Gestione Non Conformità</li>
            <li>Gestione Prescrizioni o verbali enti di controllo</li>
            <li>Infestanti</li>
          </ul>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info text-center">
          <p class="title">Noi ci siamo</p>
          <p class="subtitle">ti stiamo aspettando</p>
          <figure class="image is-4by3">
            <img src="../../assets/img/consulence.jpg">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Ricorda...</p>
        <p class="subtitle">La sicurezza alimentare è un dovere per le aziende ed un diritto per il consumatore<p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Mission</p>
        <p class="subtitle">Il nostro obbiettivo è ...</p>
        <div class="content">
          <p>
            Rendere a norma e sopratutto efficiente un processo produttivo mirato ad alti standard
            qulitativi che nasconde certamente numerose insidie. SEQA
            non crea solo soluzioni personalizzate sulle esigenze del cliente, ma effettua anche
            analisi di
            scenario attaverso le preparate figure professionali delle quali dispone, validando le
            soluzioni
            migliori, così da garantire al cliente e al consumatore finale una perfonmance di
            qualità.
          </p>
          <p>
            Con questa metodologia ci approcciamo alle attività di consulenza per i nostri partner,
            cercando insieme di raggiungere gli obbitttivi prefissati.

          </p>
          <p>
            SEQA guida i sui clienti a raggiungere standard qualitativi elevati. Abbracciando
            qualsiasi aspetto della gestione del comparto.
            Insieme possiamo garantire un approccio sistematico alle soluzioni.
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
</section>
<app-footer></app-footer>
