.container {
  margin-top: 100px;
}

svg {
  transform: rotate(45deg);
}

.text-trx {
  max-width: 300px;
}

.cipolla {
  max-width: 200px;
}

.fa-check {
  color: rgb(79, 21, 238);
}

* {
  font-family: sans-serif;
}

.card-faq {
  border: 5px solid #fccd4d;
  border-radius: 20px;
}

.banner{
  width: 100%;
  background-color: #fccd4d;

  margin-top: 100px;
}

 .block-display, .block-display-1, .block-display-2, .block-display-3,
 .block-display-4, .block-display-5, .block-display-6, .block-display-7, .block-display-8{
  opacity: 0;
}

.block-display-b-1:hover .block-display{
  opacity: 1;
}

.block-display-b-2:hover .block-display-1 {
  opacity: 1;
}

.block-display-b-3:hover .block-display-2 {
  opacity: 1;
}
.block-display-b-4:hover .block-display-3 {
  opacity: 1;
}
.block-display-b-5:hover .block-display-4 {
  opacity: 1;
}
.block-display-b-6:hover .block-display-5 {
  opacity: 1;
}
.block-display-b-7:hover .block-display-6 {
  opacity: 1;
}
.block-display-b-8:hover .block-display-7 {
  opacity: 1;
}
.block-display-b-9:hover .block-display-8 {
  opacity: 1;
}

.mon{
  transition: 0.6s;
}

.mon:hover{
  transform: scale(1.4);
}

@media screen and (min-width: 662px) {
  .mon{

  width: 70%;
  }
}
