

.container{
  margin-top: 100px;
}
svg {
  transform: rotate(45deg);
}

.text-trx{
  max-width: 300px;
}

.cipolla{
  max-width: 200px;
}

.fa-check{
  color: rgb(79, 21, 238);
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
.card-faq{
  border: 5px solid #fccd4d ;
  border-radius: 20px;
}

