<app-nav-bar></app-nav-bar>

<div style="margin-top: 100px; background-color: #fccd4d;" class="p-3 text-center"><a href="store" style="text-decoration: none;" class="btn btn-primary fw-semibold">Acquista i nostri corsi</a></div>

<section class="container">
    <div class="d-flex align-items-center justify-content-center flex-wrap">
      <div class="col-12 col-sm-6 text-center">
        <h1>Certificati <br>e dai una svolta alla tua carriera.</h1>
        <p>Con il Master SSA online di SEQA career ottieni le competenze e le qualifiche più richieste oggi nel settore e potresti diventare uno dei professionisti più cercati
        dalle aziende</p>
      </div>
      <div class="col-12 col-sm-6">
        <img src="../../assets/img/img-formazione.png" alt="" class="gilr-seqa">
      </div>
    </div>

</section>

<section class="container">
<div class="text-center">
  <h2>Scopri il nostro Master</h2>
  <div class="d-flex justify-content-center">
    <div class="card text-center rounded-1" style="max-width: 500px; margin-top: 60px;">
      <h5 class="card-header">SSA - Sisitemi di Sicurezza Agroalimentare</h5>
      <div class="card-body">
        <img src="../../assets/img/image0 (2).png" alt="" class="cipolla">
        <h5 class="card-title">Lead Auditor/ Auditor sistemi di gestione Qualità</h5>
        <p class="card-text">Inizia una carriera con la marcia e le qualifiche giuste giusta</p>
        <ul class="text-start">
          <li> <i class="fa-solid fa-check"></i> Corso interamente online</li>
          <li> <i class="fa-solid fa-check"></i> 110 ore di lezione in diretta</li>
          <li> <i class="fa-solid fa-check"></i> Materiale didattico per ogni modulo</li>
        </ul>
        <a href="https://z4sefcniwbs.typeform.com/to/DO18nyAT" target="_blank" class="btn btn-primary fw-semibold">ISCRIVITI</a>
      </div>
    </div>
  </div>
</div>
</section>


<section class="container">
  <div class="d-flex align-items-center justify-content-between" style="background-color: rgb(105 100 254 / 61%);">
    <div class="p-3 text-center" style="color: aliceblue;">
      <h1>Il primo Master con glii studenti connessi ad una rete di contatti per le loro carriere</h1>
    </div>
  </div>
</section>


<section class="container">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="card card-faq col-12" style="width: 100%;">
      <div class="card-body">
        <h2 class="card-title">Perchè diventare un Auditor</h2>
        <h6 class="card-subtitle mb-2 text-muted">semplice saresti un professionista....</h6>
        <p class="card-text">Diventare un auditor può essere una scelta di carriera interessante per chi è alla ricerca di un lavoro altamente
        gratificante che offra una grande varietà di opportunità. Gli auditor sono responsabili di esaminare i processi
        produttivi di un'azienda per assicurare che siano accurati e conformi alle normative. L'auditor può essere un
        lavoro impegnativo, ma può anche offrire una grande soddisfazione personale e può portare a grandi opportunità di
        carriera. Gli auditor possono scegliere di specializzarsi in una vasta gamma di aree, come nel settore agro-alimentare.
        Inoltre, gli auditor possono godere di stabilità occupazionale e possibilità di viaggiare. Sopratutto, come auditore,
        si ha la possibilità di essere una figura di riferimento nelle organizzazioni, aiutando a migliorare le pratiche
        contabili e finanziarie
        </p>
      </div>
    </div>
    <div class="card card-faq col-12 m-3" style="width: 100%;">
      <div class="card-body">
        <h2 class="card-title">Cosa fa un Auditor</h2>
        <h6 class="card-subtitle mb-2 text-muted">In generale......</h6>
        <p class="card-text">E' un professionista che controlla che un’azienda rispetti regole e procedure interne, occupandosi nel contempo anche di
        analizzare i rischi e le conseguenze che derivano dalle scelte effettuate; in altre parola garantisce l’efficienza di
        ogni singola risorsa e di ogni aspetto che riguarda l’azienda per la quale lavora.
        </p>
      </div>
    </div>
    <div class="card card-faq col-12 m-3" style="width: 100%;">
      <div class="card-body">
        <h2 class="card-title">Serve una laurea per fare l'Auditor?</h2>
        <h6 class="card-subtitle mb-2 text-muted">Il perchè no....</h6>
        <p class="card-text">L'auditor è una mansione professionale dove non è necessario avere una laurea per trovare lavoro e
        crescere professionalmente.

        Le lauree in ambiti affini mantengono la loro importanza ed utilità, tuttavia gli standard nel settore Qualità
        si aggiornano così rapidamente che un corso di studio della durata di 3/5 anni potrebbe non essere in
        grado di rispondere adeguatamente esigenze di mercato.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="hero is-medium is-link" style="margin-top: 100px; background-color: #fccd4d;">
  <div class="hero-body">
    <h2 class="title py-4">
      I nostri docenti
    </h2>
    <p class="subtitle">
      Se riusciamo a insegnarti cos'è l'HACCP e come applicarlo è anche
      perché lo facciamo con dei veri professionisti del settore. Avere
      ottimi insegnanti vuol dire lezioni complete, concetti assimilati e
      tanta voglia di approfondirli.
<br>
      Il nostro partner CHECK FRUIT è un Ente di certificazione che
      opera sul tutto il territorio nazionale specializzato nel settore
      Agroalimentare, dispone di insegnati con notevoli background nel
      settore
    </p>
  </div>
</section>
<section class="container" style="margin-bottom: 100px;">
  <div class="card mb-3 text-center" style="max-width: 60%; margin: 0 auto;">
    <div class="row g-0 align-items-center">
      <div class="col-md-4">
        <img src="../../assets/img/image0 (2).png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Hai dubbi o domande?</h5>
          <button class="card-text btn-primary btn my-3"><a style="color: aliceblue; text-decoration: none;" href="">Contattaci</a></button>
        </div>
      </div>
    </div>
</div>
</section>

<app-footer></app-footer>
