<svg class="wave-1hkxOo-midle" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100"
  preserveAspectRatio="none">
  <path class="wavePath-haxJK1 animationPaused-2hZ4IO"
    d="M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z"
    fill="rgba(105, 100, 254, 0.6117647059)"></path>
</svg>
<footer class="bg-color-footer">
  <div class="container-lg py-3">
    <div class="flex-around py-2">
      <div class="d-flex justify-content-between">
        <div class="withe-content col-xl-6">
          <img class="logo-footer-ps my-3" src="../../../assets/img/download.png" alt="PS logo">
          <p class="py-4"><i class="fa-solid fa-earth-europe"></i> Azienda Italiana <img class="rounded-4 img-one"
              src="../../../assets/img/it.svg" alt=""></p>
        </div>
        <div class="d-flex justify-content-around align-items-center">
          <a href="" class="mx-3 fs-1"><i
              class="fa-brands fa-instagram"></i></a>
          <a href="" class="mx-3 fs-1"><i
              class="fa-brands fa-facebook"></i></a>
          <a href=""
            class="mx-3 fs-1"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="link-footer col-xl-6">
        <ul>
          <div class="flex-around justify-content-around">
            <div class="col-lg-4">
              <ul>
                <li class="py-1 fw-semibold"><a class="red" href="consulenza">Servizi</a></li>
                <li class="py-1 fw-semibold"><a class="red" href="https://linktr.ee/seqa">Contattaci</a></li>
                <li class="py-1 fw-semibold"><a class="red" href="recensioni">Recensione</a></li>
                <li class="py-1 fw-semibold"><a class="red" href="about">About Us</a></li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div  class="container-md d-flex align-items-end flex-wrap">
      <div class="col-md-6 col-12">
        <h6 class="withe-content py-2">
          Website &#169;2023 www.seqa.it . Tutte i contenuti e l'iterezza dell'iniziativa della suddetta azienda;
          è materiale protetto da copyright dei rispettivi proprietari. Tutti i
          diritti sono riservati <a href="https://www.gazzettaufficiale.it/eli/id/2021/11/27/21G00192/sg"
            target="_blank">Maggiori info</a>
        </h6>
      </div>
      <div class="col-md-6 col-12 text-center">
        <h3>Ci troviamo</h3>
        <div class="d-flex flex-wrap text-center align-items-center container">
          <div class="card col-12 col-md-6">
           <a href="https://goo.gl/maps/Cm98VXbZGz3dBWNq9"><button class="fs-2 rounded-4">Napoli</button></a>
          </div>
          <div class="card col-12 col-md-6">
            <a href="https://goo.gl/maps/EfkDP1GryxZ21tVWA"><button class="fs-2 rounded-4">Capri Leone</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
