<section>
<div class="client-count-wrp mt-100 ">
  <div class="container text-center">
    <div class="heading">
      <h4>Alcuni numeri</h4>
    </div>
    <div class="client-count-wrp-inner">
      <div class="cards">
        <h4>{{projectcount}}</h4>
        <p>Progetti Completati</p>
      </div>
      <!--card-->
      <div class="cards">
        <h4>{{accuratecount}}</h4>
        <!--concat % sign-->
        <p>Formazioni Effettuate</p>
      </div>
      <!--card-->
      <div class="cards">
        <h4>{{clientcount}}</h4>
        <p>Audit Svolti</p>
      </div>
      <!--card-->
      <div class="cards">
        <h4>{{customerfeedback + "%"}}</h4>
        <p>Clienti Soddisfatti</p>
      </div>
      <!--card-->
    </div>
  </div>

</div>
</section>

<script>

</script>
