<app-back></app-back>

<section class="container">
  <h1>La formazione Haccp</h1>
  <div class="py-3">
    <h3>Cos’è la Formazione HACCP? Chi deve svolgere il corso? Quando bisogna aggiornarlo?</h3>
    <p>
      La formazione HACCP è un requisito fondamentale ed obbligatorio per gli operatori del settore agroalimentare seconda la
      normativa Europea 852/04, tutto ciò che concerne l’HACCP in Italia ha una discrezionalità Regionale, in tal senso anche
      le formazioni in materia di sicurezza e igiene degli alimenti e non solo sono legiferate dalle Regioni, esistono però
      alcuni punti comuni, ovvero, le formazioni devono prevedere un esame finale atto a certificare le conoscenze acquisite e
      naturalmente il suo superamento ai fini del rilascio dell’attestato.
    </p>
    <div class=" d-flex text-center justify-content-center align-items-center"
    style="background-color: #fccd4d; color: #6964fe; margin-top: 50px; margin-bottom: 50px;">
      <h1>Acquista la tua formazione</h1>
    <button class="btn fw-bold mx-2 fs-4" style="background-color: transparent; ">
      <a href="formazione" style="text-decoration: none;color: white;">QUI</a>
    </button>
    </div>
    <p>Come già detto ciascuna Regione norma le modalità, la durata, le categorie di operatori che devono o meno svolgere il
    corso e la cadenza dei rinnovi.</p>
    <p>
      Nella tabella di seguito riportata cercheremo di riassumere le durate dei corsi di primo rilascio dell’attestato, di
      aggiornamento e la durata della validità dell’attestato per ciascuna regione. Riporteremo quelle che sono le normative e
      le direttive di riferimento, ciò nonostante, essendo un settore in continuo sviluppo ed aggiornamento, teniamo a far
      presente che le informazioni fornite sono solo a titolo orientativo e si rimanda ai siti delle singole regioni per la
      normativa aggiornata e ufficiale.
    </p>

    <img src="../../../assets/img/1.png" alt="" class="img-fluid">
    <img src="../../../assets/img/2.png" alt="" class="img-fluid">
    <img src="../../../assets/img/3.png" alt="" class="img-fluid">
    <img src="../../../assets/img/4.png" alt="" class="img-fluid">

</div>

</section>
