
<app-back></app-back>
<section class="container" >
  <h1>Le norme Iso</h1>
  <div>
    <h3>Cosa sono le normative ISO?</h3>
    <p>
      Le normative ISO sono un insieme di standard internazionali sviluppati dall'Organizzazione Internazionale per la
      Standardizzazione (ISO), un'organizzazione non governativa che riunisce rappresentanti di diverse nazioni per sviluppare
      standard internazionali in una vasta gamma di settori.
      Le normative ISO sono utilizzate per stabilire i requisiti e i criteri per la qualità, l'ambiente, la sicurezza, la
      gestione delle informazioni e altri aspetti del business e dell'industria. Questi standard sono progettati per garantire
      che i prodotti e i servizi forniti da un'organizzazione soddisfino le aspettative dei clienti e gli standard di qualità
      internazionali.
      Le normative ISO sono molto importanti perché aiutano le aziende e le organizzazioni a creare processi e procedure più
      efficienti e a garantire la qualità dei loro prodotti e servizi. Inoltre, seguendo queste normative, le aziende possono
      migliorare la loro reputazione, aumentare la fiducia dei clienti e acquisire un vantaggio competitivo sul mercato.
      La maggior parte dei sistemi di gestione ISO si basa su un ciclo di miglioramento continuo noto come PDCA (Plan, Do,
      Check, Act), che prevede l'identificazione dei requisiti e degli obiettivi, l'implementazione di un piano d'azione, il
      monitoraggio del risultato e l'adozione di azioni correttive per migliorare continuamente il sistema.

    </p>
    <img src="" alt="">
    <h3>Quali sono le ISO applicabili al mondo Agroalimentare?</h3>
    <p>Essendo il Settore Agroalimentare molto vario ed essendo molte delle normative ISO applicabili a svariati settori, si
    citeranno alcune delle normative ISO più utilizzate ad oggi in correlazione a questo specifico settore.



    </p>
    <ul style="list-style-type: circle;">
      <li>
        <strong>ISO 9001:</strong> è uno standard di sistema di gestione della qualità che si applica a qualsiasi organizzazione, comprese quelle
        del settore agroalimentare, che vogliono dimostrare la loro capacità di fornire prodotti e servizi che soddisfano le
        esigenze dei clienti e rispettano la normativa applicabile.
      </li>
      <li>
        <strong>ISO 22000:</strong> è uno standard di sistema di gestione della sicurezza alimentare che si applica a qualsiasi organizzazione
        coinvolta nella catena di approvvigionamento alimentare, dalla produzione primaria alla vendita al dettaglio. Lo
        standard è stato progettato per garantire che gli alimenti siano sicuri per il consumo umano.
      </li>
      <li>
          <strong>ISO/TS 22002-1:</strong>  è una specifica tecnica correlata a ISO 22000 e fornisce le linee guida per la progettazione,
          l'implementazione e la manutenzione di programmi di prevenzione dei rischi per la sicurezza alimentare nelle
          organizzazioni coinvolte nella produzione primaria.
      </li>
      <li>
        <strong>ISO/TS 22002-4:</strong>  è una specifica tecnica correlata a ISO 22000 e fornisce le linee guida per la progettazione,
        l'implementazione e la manutenzione di programmi di prevenzione dei rischi per la sicurezza alimentare nelle
        organizzazioni che producono imballaggi per alimenti.
      </li>
      <li>
       <strong>ISO 14001:</strong> è uno standard di sistema di gestione ambientale che si applica a qualsiasi organizzazione, comprese quelle
        del settore agroalimentare, che vogliono dimostrare il loro impegno per la protezione dell'ambiente e la riduzione
        dell'impatto ambientale delle loro attività.
      </li>
      <li>
          <strong>ISO 22005:</strong> è uno standard per la tracciabilità nella catena di approvvigionamento alimentare. Questo standard si
          concentra sulla tracciabilità dei prodotti alimentari dall'inizio alla fine della catena di approvvigionamento e sulla
          capacità di individuare rapidamente la posizione di un prodotto in caso di richiamo dal mercato o di emergenze.
      </li>
      <li>
          <strong>ISO/IEC 17025:</strong> è uno standard di competenza dei laboratori di prova e taratura, che si applica ai laboratori di analisi
          che svolgono test per garantire la sicurezza e la qualità degli alimenti.
      </li>
      <li>
          <strong>ISO 19011:</strong> è uno standard per le linee guida di audit dei sistemi di gestione. Questo standard si applica a qualsiasi
          organizzazione, comprese quelle del settore agroalimentare, che desidera condurre audit interni o esterni per valutare
          l'efficacia del proprio sistema di gestione.
      </li>
      <li>
       <strong>ISO 50001:</strong> è uno standard di sistema di gestione dell'energia che si applica a qualsiasi organizzazione, comprese quelle
        del settore agroalimentare, che desidera migliorare l'efficienza energetica e ridurre i costi.
      </li>
      <li>
          <strong>ISO 21469:</strong> è uno standard che fornisce linee guida per la formulazione, fabbricazione, uso e gestione degli oli
          lubrificanti che possono entrare in contatto con prodotti alimentari, per garantire la sicurezza alimentare.
      </li>
      <li>
          <strong>ISO 20488:</strong> è uno standard che fornisce le linee guida per la valutazione della sicurezza alimentare di nuovi prodotti
          alimentari e di nuovi ingredienti.
      </li>
      <li>
         <strong>ISO 14040 e ISO 14044:</strong> sono due standard per la valutazione del ciclo di vita dei prodotti, che si applicano a qualsiasi
          organizzazione, comprese quelle del settore agroalimentare, che desidera valutare l'impatto ambientale dei propri
          prodotti lungo tutto il ciclo di vita, dalla produzione al consumo e smaltimento.
      </li>
      <li>
          <strong>ISO/IEC 27001:</strong> è uno standard per la sicurezza delle informazioni. Questo standard si concentra sulla gestione dei
          rischi relativi alla sicurezza delle informazioni e sulla continua miglioramento dell'efficacia del sistema di gestione
          della sicurezza delle informazioni.
      </li>
    </ul>

      <h3>Esistono normative ISO specifiche per la sicurezza sui luoghi di lavoro?</h3>
      <p>Si! In particolare la <strong>ISO 45001:2018</strong>.
        Questo standard internazionale è stato sviluppato per aiutare le organizzazioni di
      tutti i settori e dimensioni a migliorare la salute e la sicurezza sul lavoro, prevenire gli incidenti e le malattie
      professionali e garantire il benessere dei lavoratori. <br>
      La norma ISO 45001 richiede che le organizzazioni identifichino i pericoli, valutino i rischi e mettano in atto misure
      di controllo per ridurre al minimo il rischio di incidenti e malattie professionali. Inoltre, richiede la partecipazione
      dei lavoratori alla gestione della sicurezza, la formazione e l'informazione dei lavoratori e la gestione delle
      emergenze. <br>
      La certificazione ISO 45001 può aiutare le organizzazioni a dimostrare la loro conformità ai requisiti di sicurezza sul
      lavoro e migliorare la loro reputazione presso i clienti e le parti interessate. Inoltre, può aiutare a ridurre i costi
      associati agli incidenti sul lavoro e migliorare le condizioni di lavoro e la produttività dei lavoratori.
      In sintesi, la norma ISO 45001:2018 è la norma per la gestione della sicurezza sul lavoro e può essere utilizzata da
      qualsiasi organizzazione che desidera migliorare la salute e la sicurezza sul lavoro.</p>









  </div>
</section>
