<nav class="navbar is-fixed-top align-items-center" >
  <div class="navbar-brand">
    <a class="logo d-flex align-items-center" href="#">
      <img src="../../../assets/img/IMG_7022.PNG" alt="logo" class="img-logo">
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [href]="item.router" *ngFor="let item of linkPages">
        {{item.link}}
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          About
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="analisi">
            Analisi
          </a>
          <a class="navbar-item" href="about">
            Chi Siamo
          </a>
          <a class="navbar-item" href="dove">
            Dove siamo
          </a>
          <a class="navbar-item" href="https://seqa.info/">
            Consulenza gratuita
          </a>
          <a class="navbar-item" href="terms">
            Termini & Condizioni
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://seqa.info/">
            Contattaci
          </a>
          <a class="navbar-item is-active" href="recensioni">
            Recensioni
          </a>
        </div>
      </div>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/seqaofficial" target="_blank"><i class="fa-brands fa-facebook social-icon"></i></a>
      <a href="https://www.instagram.com/seqa_official/" target="_blank"><i class="fa-brands fa-instagram social-icon"></i></a>
      <a href=""><i class="fa-brands fa-tiktok social-icon"></i></a>
      <a href="https://www.linkedin.com/company/seqa-sicurezza-e-qualit%C3%A0-alimentare/" target="_blank"><i
          class="fa-brands fa-linkedin social-icon"></i></a>
    </div>
  </div>
  <div class="dropstart hambu-menu">
    <button class="btn fw-1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-bars"></i></button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="consulenza">Consulenza</a></li>
      <li><a class="dropdown-item" href="certificazioni">Certificazioni</a></li>
      <li><a class="dropdown-item" href="formazione">Formazione</a></li>
      <li><a class="dropdown-item" href="avvio">Avvio Attività</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item"
          href="https://linktr.ee/seqa">Contattaci
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="recensioni">Recensioni
        </a>
      </li>
      <li>
        <a class="dropdown-item is-active" href="https://seqa.info/">Prenota è gratis
        </a>
      </li>
    </ul>
  </div>
</nav>
